#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/login-background.png");
  min-height: 100vh;
  background-size: 100% 100%;
}

.card {
  width: 40%;
}

.card-header {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

input {
  border-color: black;
}

#button-group {
  margin-top: 2rem;
  display: flex;
}

#update-button {
  margin-left: 2rem;
}

#delete-button {
  position: absolute;
  right: 2rem;
}
